@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt.otf);
    font-weight: 100;
}

@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt.otf);
    font-weight: 200;
}

@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt.otf);
    font-weight: 300;
}

@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt.otf);
    font-weight: 400;
}

@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt-Bold.otf);
    font-weight: 500;
}

@font-face {
    font-family: EuropeExt;
    src: url(EuropeExt-Bold.otf);
    font-weight: 600;
}